<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Deutsche bank</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Welcome {{user.b.name}} !</p>
            <li>
                <a routerLink="./home">Home</a>
            </li>
            <li>
                <a href="#">Clients</a>
            </li>
            <li>
                <a href="#">Securities</a>
            </li>
            <li>
                <a routerLink="./buysell">Buy/Sell</a>
            </li>
            <!-- <li>
                <a href="#">Contact</a>
            </li> -->
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a class="download" (click)="logout()">Logout</a>
            </li>
            <!-- <li>
                <a href="#" class="article">Help</a>
            </li> -->
        </ul>
    </nav>

    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="img-responsive" src="../../../assets/images/dtbank_logo-300x188.jpg" style="width:55px;height:55px;">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <!-- <i class="fas fa-align-left"></i> -->
                    <h3>
                        <span>Compliance Management System</span>
                    </h3>
                </button>

            </div>
        </nav>


        <router-outlet></router-outlet>

    </div>


</div>
<style>
    /*This stylesheet sets the width of all images to 100%: */

    img {
        width: 100%;
    }
</style>