<div class="progress">
    <div id="dailylimiitprogressbar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0"
        aria-valuemax="100" [style.width]="progress+ '%'" ng-change="updateProgressbarcolor()">
        {{progress}}%
    </div>
</div>
<div class="line"></div>
<div class="progress">
    <div id="dailylimiitprogressbar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0"
        aria-valuemax="100" [style.width]="progress+ '%'" ng-change="updateProgressbarcolor()">
        {{progress}}%
    </div>
</div>
<div class="line"></div>
<div class="progress">
    <div id="dailylimiitprogressbar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0"
        aria-valuemax="100" [style.width]="progress+ '%'" ng-change="updateProgressbarcolor()">
        {{progress}}%
    </div>
</div>
<div class="line"></div>
<script type="text/javascript"> 
    function updateProgressbarcolor() {
        var x = document.getElementById('dailylimiitprogressbar');
        if (x.style.width > 75) x.class="progress-bar-warning";
    }
</script>

<mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>