<div class="img">
    <img class="img-responsive" src="../../../assets/images/logincover.jpg" style="width:450px;height:137px;">
    <div class="login">
        <div class="login-triangle"></div>

        <h2 class="login-header"><h4>Compliance Management System</h4></h2>

        <form class="login-container" (ngSubmit)="login()">

            <p>
                <input type="email" placeholder="User Id" [(ngModel)]="model.username" [ngModelOptions]="{standalone: true}">
            </p>


            <p>
                <input type="password" placeholder="Password" [(ngModel)]="model.password" [ngModelOptions]="{standalone: true}">
            </p>

            <p>
                <input type="submit" value="Log in">
            </p>
        </form>
    </div>

</div>

<!-- <img class="img-responsive" src="../../../assets/images/logologin.png" style="width:35px;height:40px;"> -->